<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">


<sql id="selectMember">
    SELECT
	        USER_NAME AS userName,
	        USER_NICK AS userNick,
	        USER_ID AS userId,
	        JOIN_DATE AS joinDate
</sql>
	
	<select id="findAll" resultType="Member" parameterType="map"> 
	    <include refid="selectMember"/>
	    FROM TB_MEMBER
	</select>

    <insert id="insert" parameterType = "member">
    
        INSERT INTO TB_MEMBER
        (
            USER_ID,
            USER_PWD,
            USER_NAME,
            EMAIL,
            PHONE_NO,
            ADDRESS,
            GENDER,
            BIRTH_DATE,
            PRE_GENRE1,
            PRE_GENRE2,
            USER_NICK,
            PROFILE_URL
        )
        VALUES
        (
            #{userId},
            #{userPwd},
            #{userName},
            #{email},
            #{phoneNo},
            #{address},
            #{gender},
            #{birthDate},
            #{preGenre1},
            #{preGenre2},
            #{userNick},
            #{profileUrl}
        )
    </insert>
    
    <select id = "login" parameterType = "member" resultType="member">
    
    	SELECT
    			USER_ID AS userId,
    			USER_PWD AS userPwd,
    			USER_NAME AS userName,
    			EMAIL,
    			PHONE_NO AS phoneNo,
    			ADDRESS,
    			GENDER,
    			BIRTH_DATE AS birthDate,
    			PRE_GENRE1 AS preGenre1,
    			PRE_GENRE2 AS preGenre2,
    			USER_NICK AS userNick,
    			MODIFY_DATE AS modifyDate,
    			JOIN_DATE AS joinDate,
    			STATUS,
    			PROFILE_URL AS profileUrl
    	
    	FROM
    			TB_MEMBER
    	WHERE
    			USER_ID = #{userId}
    	AND
    			STATUS = 'Y'

    	
    	
    </select>
    
    
    <select id = "idcheck" parameterType = "String" resultType="_int">
    
    SELECT
    		COUNT(*)
    FROM
    		TB_MEMBER
    WHERE
    		USER_ID = #{checkId}
    
    </select>
    
    <select id="nickCheck" parameterType = "String" resultType = "_int">
    
    SELECT
    		COUNT(*)
    FROM	
    		TB_MEMBER
    WHERE
    		USER_NICK = #{checkNick}
    
    
    </select>
    
    <select id="findMyId" parameterType="map" resultType="member">
       
        SELECT 
        		USER_ID AS userId
        			
        FROM 
        		TB_MEMBER
        WHERE 
        		USER_NAME = #{userName} AND PHONE_NO = #{phoneNo} AND EMAIL = #{email}
    </select>
    
    <select id = "findMyPw" parameterType = "map" resultType = "member">
    	
    	SELECT
    			USER_PWD AS userPwd
    	  FROM
    	  		TB_MEMBER
    	 WHERE	
    	 		USER_ID = #{userId} AND USER_NAME = #{userName} AND PHONE_NO = #{phoneNo}

    </select>
    

		<update id="changePw"  parameterType="Member">
		    UPDATE 
		        TB_MEMBER
		    SET 
		        USER_PWD = #{userPwd},
		        MODIFY_DATE = SYSDATE
		    WHERE 
		        USER_ID = #{userId}
		   
		</update>
	
	<update id="myInfoChange" parameterType="Member">
	
		UPDATE
			    TB_MEMBER
		SET
				USER_NAME = #{userName},
				EMAIL = #{email},
				PHONE_No = #{phoneNo},
				ADDRESS = #{address},
				USER_NICK = #{userNick},
				GENDER = #{gender},
				PRE_GENRE1 = #{preGenre1},
				PRE_GENRE2 = #{preGenre2},
				MODIFY_DATE = SYSDATE
		WHERE
				USER_ID = #{userId}
	
	
	</update>
	
	<update id="resign" parameterType = "String">
	
		UPDATE
				TB_MEMBER
		   SET
				STATUS = 'N',
				MODIFY_DATE = SYSDATE
		 WHERE
				USER_ID = #{userId}
	</update>


    
    
    
</mapper>
