<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.myapp.payment.model.repository.PrePaymentRepository">
	
	<insert id="save" parameterType="prePayment">
		INSERT
		   INTO
		   			TB_PREPAYMENT
		   			(
		   			MERCHANT_UID,
		   			AMOUNT 
		   			)
		VALUES
					(
					#{	merchantUid},
					#{amount}
					)
	</insert>
	
	<select id="findById" parameterType="merchantUid" resultType="prePayment">
		SELECT
					MERCHANT_UID merchantUid,
					AMOUNT amount
		  FROM
		  			TB_PREPAYMENT
		WHERE
					MERCHANT_UID = #{merchantUid}
	</select>

</mapper>