<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.myapp.product.model.repository.ProductRepository">
	
	<select id="findAll" resultType="product">
	
		SELECT
					PRODUCT_ID productId,
					PRODUCT_NAME productName,
					PRODUCT_CATEGORY productCategory,
					PRODUCT_COMMENT productComment,
					PRODUCT_PRICE productPrice,
					PRODUCT_IMAGE productImage,
					CHANGE_IMAGE changeImage
	     FROM
	     			TB_PRODUCT
	
	</select>
	
	<select id="findByCategory" resultType="product">
	
		SELECT
					PRODUCT_ID productId,
					PRODUCT_NAME productName,
					PRODUCT_CATEGORY productCategory,
					PRODUCT_COMMENT productComment,
					PRODUCT_PRICE productPrice,
					PRODUCT_IMAGE productImage,
					CHANGE_IMAGE changeImage
	      FROM
	     			TB_PRODUCT
	    WHERE
	    			PRODUCT_CATEGORY = #{productCategory}
	
	</select>
	
	<select id="findCount" resultType="_int">
		
		SELECT
			        COUNT(*)
		  FROM
			        TB_CART C,
			        TB_MEMBER M
	    WHERE
			        M.USER_ID = #{id}
	   	    AND
			        C.USER_ID = M.USER_ID
		
	</select>

	<insert id="save" parameterType="product">
		
		INSERT
		   INTO
		   			TB_PRODUCT
		   			(
		   			PRODUCT_ID,
		   			PRODUCT_CATEGORY,
		   			PRODUCT_NAME,
		   			PRODUCT_COMMENT,
		   			PRODUCT_PRICE,
		   			PRODUCT_IMAGE,
		   			CHANGE_IMAGE
		   			)
		VALUES
					(
					SEQ_POID.NEXTVAL,
					#{productCategory},
					#{productName},
					#{productComment},
					#{productPrice},
					#{productImage},
					#{changeImage}
					)
					
	</insert>
	
	<select id="findById" resultType="product">
	
		SELECT
					PRODUCT_ID productId,
					PRODUCT_NAME productName,
					PRODUCT_CATEGORY productCategory,
					PRODUCT_COMMENT productComment,
					PRODUCT_PRICE productPrice,
					PRODUCT_IMAGE productImage,
					CHANGE_IMAGE changeImage
	     FROM
	     			TB_PRODUCT
	   WHERE
	   				PRODUCT_ID = #{productId}
	
	</select>

	<update id="update" parameterType="product">
		
		UPDATE
					TB_PRODUCT
			 SET
			 		PRODUCT_NAME = #{productName},
			 		PRODUCT_CATEGORY = #{productCategory},
			 		PRODUCT_COMMENT = #{productComment},
			 		PRODUCT_PRICE = #{productPrice},
			 		PRODUCT_IMAGE = #{productImage},
			 		CHANGE_IMAGE = #{changeImage}
		WHERE
					PRODUCT_ID = #{productId}
					
	</update>
	
	<delete id="delete" parameterType="_int">
		
		DELETE
		  FROM
		  			TB_PRODUCT
		WHERE
					PRODUCT_ID = #{productId}
					
	</delete>
</mapper>