<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reviewMapper">
    <select id="findAllReview" resultType="review">
        SELECT
			REVIEW_NO reviewNo,
			REVIEW_CONTENT reviewContent,
			REVIEW_DATE reviewDate,
			STAR star,
			STATUS status,
			USER_ID userId,
			MOVIE_CD movieCd
		FROM
			TB_REVIEW
    </select>
</mapper>